<div class="flex-wrap">
    <div class="card" style="width: 38rem;">
        <div class="card-body">
            <div class="row">
                <p>Nome: <strong>{{ home_resumo?.nome }}</strong></p>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <p>Email: <strong>{{ home_resumo?.email }}</strong></p>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <p>Token: <strong>{{session?.token}}</strong></p>
            </div>
        </div>
    </div>
    <div id="input_logout" class="row">
        <a [routerLink]="['/login']" style="color: #000;">logout</a>
    </div>
</div>
